
{% extends 'base.html.twig' %}

{% block title %}New Trip{% endblock %}

{% block body %}
<div class="container">
<h1>create new trip </h1>

{{ form(form) }}

<a href="/admin">back to admin dashboard</a>
</div>
{% endblock %}